# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#Client-side

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local
client/coverage

#Server-side
server/node_modules
server/.env
server/*.local
server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/pnpm-debug.log*
server/lerna-debug.log* 